@import url("fonts.css");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --ff-primary: "Josefin Sans", sans-serif;
  --fw-primary: 300;

  --ff-secondary: "Alata", sans-serif;
  --fw-secondary: 400;


}

*::after,
*::before,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--white);
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-weight: var(--fw-primary);
  
}

.header-main-menu {
  background-image: url("../images/desktop/image-hero.jpg");
  height: 80dvh;
  color: var(--white);
}
